{% extends './superadmin/base.html.twig' %}
{% block body %}
    <canvas id="visitsChart" width="200px" height="50px"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

            var ctx = document.getElementById('visitsChart').getContext('2d');
            var chartData = {
                labels: ['07/06','08/06','09/06','12/06'],
                datasets: [{
                    label: 'Visits',
                    data: '{{ data|json_encode() }}',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };

            new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    scales: {
                        y: {
                            min: 0,
                            max: 20,

                        }
                    }
                }
            });
    </script>
    <br/>
    <div>
    <p>total visitors :  <span>{{ total }}</span></p>
    </div>

{% endblock %}